@tailwind base;
@tailwind components;
@tailwind utilities;

/* until css
* những css đã có sẵn chúng ta chỉ việc tái sử dụng lại
*/
.bg-color-black {
    background-color: black;
}

h1 {
    color: white;
    /* background-color: black; */
}

h2 {
    color: blue;
    /* background-color: black; */
}

h3 {
    color: green;
    /* background-color: black; */
}